@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);


* {
  font-family: "Open Sans", Helvetica, sans-serif;
}

body {
  font-size: 13px;
  font-weight: 300;
  color: rgb(30,31,29); /* dark grey */
  padding: 0 0;
  margin: 0 auto;
}

#container-fluid {
  width: 90%;
  max-width: 960px;
  min-width: 370px;
  padding: 0 0;
  margin: 0 auto;
}

#intro-text {
  max-width: 500px;
}

.related_text {
  padding-top: 100px;
  padding-left: 50px;
}


/* code javascript */

#form {
      position: relative;
      right: 10px;
      top: 10px;
      padding-bottom: 20px;
}

.axis path,
.axis line {
  fill: none;
  display: none;
  shape-rendering: crispEdges;
}


text {
  font-size: 11px;
}

/*.x.axis path {
  display: none;
}*/

.axis text {
  font-size: 11px;
  fill: rgba(136,136,136,1);
  margin-right: 10px;
}


.dots {
  opacity: 0.6;
}

.tooltip_graph1, .tooltip_graph2, .tooltip_graph4, .tooltip_graph7 {
  position: absolute;
  z-index: 10;
  opacity:1;
}
.tooltip, .tooltip_graph1, .tooltip_graph2, .tooltip_graph3, .tooltip_graph4, .tooltip_graph7 p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  color: black;
  font-size: 13px;
  background-color: rgba(255,255,255,0.8);
  border: rgba(230,230,230,1) 1px solid;
  padding: 5px 5px 5px 5px;
}

button {
  cursor: pointer;
  /*float: left;
  height: 30px;
  text-align: center;*/
  background: none;
  display: block;
  padding-top: 5px;
  margin-top: 10px;
  border-radius: 5px 5px 5px 5px;
}

.btn {
  border: 1px solid grey;
}

/*button.active {
  pointer-events: none;
  background-color: pink;
}*/

.selected {
  background-color: rgba(0, 153, 255, 0.7);
}

#count {
  border-radius: 5px 0px 0px 5px;
}
#name {
  border-radius: 0px 5px 5px 0px;
}

.countries {
    stroke: #fff;
    stroke-width: 1px;
}

path.line_graph2 {
  fill: none;
  stroke: gray;
  stroke-width: 0.7px;
  stroke-opacity: 70%;
}

.line_graph2.normal {
  stroke: gray;
}


.background {
  fill: none;
}
.area {
  fill: #BFBFBF;
  opacity: 0.5;
}
.line_graph1 {
  fill: none;
  stroke: RGB(222,102,0);
  stroke-width: 0.7px;
}

.chart {
  float: left;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top:0;
  padding-left:0;
}

.bar {
  opacity: 0.6;
}

/* end css javascript */

h1 {
  font-weight: 700;
}
