@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);


body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 13px;
  padding: 50px;
}

#form {
      position: relative;
      right: 10px;
      top: 10px;
      padding-bottom: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(156, 156, 156, 1);
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

text {
  font-size: 11px;
}

/*.x.axis path {
  display: none;
}*/

.axis text {
  font-size: 11px;
  fill: rgba(136,136,136,1);
  margin-right: 10px;
}

.circle{
  fill-opacity: 0.7;
}

.circle.focused {
  fill-opacity: 1;
}

.circle.unfocused{
  fill-opacity: 0.5;
}

.tooltip_graph1, .tooltip_graph2, .tooltip_graph4 {
  position: absolute;
  z-index: 10;
  opacity:1;
}
.tooltip, .tooltip_graph1, .tooltip_graph2, .tooltip_graph4 p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  color: black;
  font-size: 13px;
  background-color: rgba(255,255,255,0.8);
  border: rgba(230,230,230,1) 1px solid;
  padding: 5px 5px 5px 5px;
}

.button {
  cursor: pointer;
  float: left;
  width: 100px;
  height: 30px;
  text-align: center;
  background: #fcfcfc;
  border: 1px solid #cecece;
  display: block;
  padding-top: 5px;
  margin-top: 10px;
  border-radius: 5px 5px 5px 5px;
}
.button.active {
  box-shadow: inset 0px 0px 7px rgba(0,0,0,0.18);
  pointer-events: none;
  background-color: rgba(230,222,182,0.5);
}
#count {
  border-radius: 5px 0px 0px 5px;
}
#name {
  border-radius: 0px 5px 5px 0px;
}

.countries {
    stroke: #fff;
    stroke-width: 1px;
}

path.line_graph2 {
  fill: none;
  stroke-width: 0.7px;
  stroke-opacity: 70%;
}

.line_graph2.normal {
  stroke: gray;
}

.line_graph2.unfocused{
  stroke-opacity: 40%;
}

.line_graph2.focused {
  stroke-width: 2px;
  stroke-opacity: 100%;
  stroke: orange;
}
